@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: montserrat-bold;
  src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}
* {
  box-sizing: border-box;
}

html {
  background-color: #e3e3e3;
  color: #ffffff;
  font-family: montserrat-bold;
  line-height: 1.2;
}

header .logo {
  font-family: montserrat-bold;
  cursor: pointer;
}

body {
  margin: 0 auto;
  font-size: 1rem;
}

h1,
h3 {
  margin: 0;
}

header {
  background-color: #ff7f00;
  margin-bottom: 27px;
}

.main-content {
  margin: 0 auto;
}

.nav-bar a {
  color: #ffffff;
  font-size: 1.1875em;
  text-decoration: none;
  padding: 21px;
}

.nav-bar a.active{
  box-shadow: inset 0px -4px 0px 0px black;
  color: black;
}
.main-container {
  margin-bottom: 27px;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  font-size: 20px;
}

/* Gallery Section */
.grid-header{
  background-color: rgba(255, 255, 255, 0.548);
  margin-bottom: 27px;
  padding: 25px;
  border-radius: 12px;
}

#keywords-search{
  background-color: rgba(255, 255, 255, 0.548);
  height: 40px;
  width: 220px;
  border-radius: 12px;
  outline: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 353px);
  gap: 21px 21px;
  padding-bottom: 27px;
  justify-content: center;
}

.grid-container img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  cursor: pointer;
}

/* Design Meme Section */

.main-design-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.canvas-container {
  width: 340px;
  height: 320px;
}

canvas {
  display: block;
  margin: 0 auto;
}

canvas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  border: none;
  outline: none;
  width: 300px;
  height: 60px;
  border-radius: 12px;
  font-size: 20px;
}

.design-tools .icon {
  width: 38.9px;
  height: 38.9px;
}

.design-tools button {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin: 10px;
}

#fill-color {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 38.9px;
  height: 38.9px;
}

#change-font {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 38.9px;
  height: 38.9px;
}

footer {
  background-color: #ff7f00;
}

footer .logo {
  font-family: montserrat-bold;
  padding-top: 30px;
  font-size: 1.5em;
}
footer p {
  padding-bottom: 30px;
  font-size: 1.1875em;
}

/*  MOBILE  */
@media screen and (max-width: 740px) {
  .canvas-container {
    margin-bottom: 30px;
  }
  .main-design-container {
    align-items: center;
  }

  .nav-bar {
    position: fixed;
    top: 40px;
    right: 0;
    flex-direction: column;
    box-shadow: -7px 7px 15px 0px #b0adad;
    transform: translateX(100%);
    transition: transform 0.8s;
  }

  .nav-bar a {
    color: #ff7f00;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.74);
    transition: background-color 0.3s;
  }

  .menu-btn {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 7px;
  }

  .nav-bar li {
    border-bottom: #ff7f00 1px solid;
    width: 180px;
  }

  .nav-bar a:hover {
    background-color: rgba(255, 255, 255, 0.877);
  }

  body.menu-open .nav-bar {
    transform: translateX(0);
  }

  .main-screen {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0/40%);
    visibility: hidden;
    cursor: pointer;

    transition: opacity 0.8s;
  }

  body.menu-open .main-screen {
    opacity: 1;
    visibility: visible;
  }
}

/* MEDIUM  */
@media screen and (min-width: 740px) {
  .about::before {
    content: '|';
    margin-right: 20px;
  }

  .menu-btn {
    display: none;
  }

  .main-content {
    max-width: 730px;
  }

  .canvas-container {
    width: 341px;
    height: 351px;
  }

  .main-design-container {
    flex-direction: row;
  }
}

/*  LARGE  */
@media screen and (min-width: 1150px) {
  .main-content {
    max-width: 1101px;
  }

  .canvas-container {
    width: 541px;
    height: 551px;
  }

  .line {
    width: 373px;
  }
}


/* HELPERS */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-space-between {
  justify-content: space-between;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-space-around {
  justify-content: space-around;
}

.flex.align-center {
  align-items: center;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clean-btn {
  outline: none;
  cursor: pointer;
  background-color: white;
  border: none;
}
