* {
  box-sizing: border-box;
}

/* Gallery Section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 10px 10px;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Design Meme Section */

.main-design-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.canvas-container {
  background-color: antiquewhite;
  /* margin: 0 auto; */
  width: 30vw;
  height: 30vw;
  border: solid 1px black;
}

canvas {
  display: block;
  margin: 0 auto;
  /* border: 1px rgb(50, 65, 153) solid; */
}

.design-tools {
  background-color: rgba(255, 182, 193, 0.582);
  width: 30vw;
  height: 30vw;
  border: solid 1px black;
}

canvas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}