*{
    box-sizing: border-box;
}


.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px 10px;
}

.gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}